@media screen and (min-width: 800px) {
  .topnav {
    position: absolute;
    top: 10px;
    left:10px;
    z-index: 5;
    width: 300px;
    height:90%;
    background-color: #333;
    text-align: center;
    font-family: 'Montserrat','Roboto','sans-serif';
    line-height: 30px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
  }

  .logo {
    max-width: 100%;
  }

  .icon {
    display: none;
  }

  .search {
    color: #ddd;
    font-size: 0.5em;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    padding-top: 20px;
    padding-bottom: 5px;
  }

  .list {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .topnav {
    position: absolute;
    top: 10px;
    left:10px;
    z-index: 5;
    width: 50px;
    height:50px;
    background-color: #333;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
  }

  .topnav.responsive {
    position: absolute;
    top: 10px;
    left:10px;
    z-index: 5;
    width: 300px;
    height:90%;
    background-color: #333;
    text-align: center;
    font-family: 'Montserrat','Roboto','sans-serif';
    line-height: 30px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
  }

  .icon {
    padding-top: 10px;
    display: block;
  }

  .icon.responsive {
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
  }

  .logo {
    display: none;
  }

  .logo.responsive {
    display: inline;
    max-width: 100%;
  }

  .search {
    display: none;
  }

  .search.responsive {
    display: inline;
    color: #ddd;
    font-size: 0.5em;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    padding-top: 20px;
    padding-bottom: 5px;
  }

  .list {
    display: none;
  }

  .list.responsive {
    display: inline;
    text-align: center;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat','Roboto','sans-serif';
}

ul {
  text-align: center;
  padding: 0;
}

hr {
  height: 1px;
  width: 80%;
  color: #ddd;
  background-color: #ddd;
  border: none;
}

a {
  color: #ddd;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

li {
  font-size: 0.7em;
  letter-spacing: 2px;
  text-transform: uppercase;
  list-style: none;
  color: #ddd;
}

#map {
  height: 100%;
}

.search-box {
  border: 0;
  outline: 0;
  color: #ddd;
  width: 80%;
  height: 35px;
  background-color: #252525;
  padding: 10px;
}

.place {
    margin: 10px;
    padding: 10px;
		font-size: 0.8em;
    list-style-type: none;
}

#pano {
  min-width: 300px;
  height: 300px;
}

#window-title {
  font-size: 2em;
}
